@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

h1 {
  font-size: 50px;
}

.orange-color {
  color: orange;
}

section {
  display: flex;
}

.descriptin-one,
.descriptin-two {
  color: gray;
}

.section-one {
  background-image: url('images/top-banner.png');
  background-repeat: no-repeat;
}

.description {
  width: 50%;
  padding: 3%;
}

.description img {
  width: 90%;
  padding: 3%;
}

.link-button {
  text-decoration: none;
  background-image: linear-gradient(to top right, orange, tomato);
  border-radius: 5px;
  padding: 10px 40px;
  color: white;
  font-weight: 700;
}

.section-two {
  background-image: url('images/dream-bg.png');
  background-repeat: no-repeat;
  background-position: right;
}

.descriptin-two {
  padding-right: 70px;
}
